## Hello, World!

In [1]:
print("This is a test to check print statement")

This is a test to check print statement

In [2]:
x=100
if x==100:
    print("x is 100")

x is 100

In [1]:
print("Hello, World!")

Hello, World!

## Variables and types

In [11]:
# numbers
test_int = 9
print("This is an integer type variable:", test_int)

# float
test_float = 9.99
print("This is a float type variable:", test_float)
test_float2 = float(9)
print("This is another float type variable:", test_float2)

print("\n")
# string
str1 = 'this is a type of string'
print("This is a string type variable:", str1)
str2 = "this is another type of string"
print("this is a string with double quotes:", str2)
str3 = "This is a string with 'single quotes' inside double quotes"
print("this is a string with single quotes in double quotes:", str3)

print("\n")
#Variations in srings
str4 = 1
str5 = 2
str6 = str4 + str5
print("This is addition of two integers using strings:", str6)

str7 = "String"
str8 = "Concatenation"
str9 = str7 + " " + str8
print("This is string concatenation:", str9)
a,b = 5, 10
print(a,b)

# test to see error in ixing operators
str10 = 'A'
str11 = 'B'
str12 = 2
str13 = str10 + str11 + str12
print(str13)

This is an integer type variable: 9
This is a float type variable: 9.99
This is another float type variable: 9.0


This is a string type variable: this is a type of string
this is a string with double quotes: this is another type of string
this is a string with single quotes in double quotes: This is a string with 'single quotes' inside double quotes


This is addition of two integers using strings: 3
This is string concatenation: String Concatenation
5 10

TypeError: can only concatenate str (not "int") to str

In [2]:
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

## Lists

In [12]:
l = []
l.append(1)
l.append(2)
l.append(3)
print(l)
print(l[0])
print(l[1])
print(l[2])

print("\n")

for i in l:
    print(i)

[1, 2, 3]
1
2
3


1
2
3

In [13]:
#error check
print(l[4])

IndexError: list index out of range

In [4]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
second_name = names[1]
numbers.append(1)
numbers.append(2)  
numbers.append(3)
strings.append("hello")
strings.append("world")


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

## Basic Operatorrs

In [ ]:
opr = 10 + 5 * 2 - 3 / 1
print("The result of the arithmatic operation is:", opr)

rem = 10 % 3
print("The remainder of 10 divided by 3 is:", rem)

sqr = 5 ** 2
print("The square of 5 is:", sqr)

cube = 3 ** 3
print("The cube of 3 is:", cube)

print("\n")
# operations with strings
str_opr = "Hello" + " " + "World"
print("String concatenation result:", str_opr)

str_opr2 = "Hello" * 3
print("multiple strings result:", str_opr2)

oddl = [1,3,5,7,9]
evenl = [2,4,6,8,10]
numl = oddl + evenl
print("List concatenation result:", numl)
print([1,2,3] * 3)

The result of the arithmatic operation is: 17.0
The remainder of 10 divided by 3 is: 1
The square of 5 is: 25
The cube of 3 is: 27


String concatenation result: Hello World
multiple strings result: HelloHelloHello
List concatenation result: [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

## String Formatting

In [24]:
name = 'Nadella'
print("Hello %s" % name)

age = 22
print("I am %s and I am %d years old" % (name, age))

l = [1,2,3,4,5]
print("The list is %s" % l)

Hello Nadella
I am Nadella and I am 22 years old
The list is [1, 2, 3, 4, 5]

In [6]:
data = ("John", "Doe", 53.44)
format_string = "Hello, %s %s. Your current balance is $%.2f."

print(format_string % data)

Hello, John Doe. Your current balance is $53.44.

## Basic String Operations

In [25]:
astring = "Hello World"
print('String with single quotes: %s' % astring)
astring2 = 'Hello World'
print("String with double quotes: %s" % astring2)

String with single quotes: Hello World
String with double quotes: Hello World

In [1]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

In [7]:
astring = "Hello world!"
print(astring.index("o"))

astring = "Hello world!"
print(astring.count("l"))

astring = "Hello world!"
print(astring[3:7])

astring = "Hello world!"
print(astring[3:7:2])

astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

astring = "Hello world!"
print(astring[::-1])

astring = "Hello world!"
print(astring.upper())
print(astring.lower())

astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

astring = "Hello world!"
afewwords = astring.split(" ")

4
3
lo w
l
lo w
lo w
!dlrow olleH
HELLO WORLD!
hello world!
True
False

In [7]:
s = "Strings are awesome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next five characters are 'gs ar'
The thirteenth character is 'a'
The characters with odd index are 'tig r wsm!'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

## Conditions

In [15]:
x = 2
print(x == 2)
print(x == 3)
print(x < 3)

# Boolean operators

name = "John"
age = 23
if name == "John" and age == 23:
    print("Hi John, and you are also 23 years old.")

if name == "John" or name == "Doe":
    print("Your name is either John or Doe.")

name = "John"
if name in ["John", "Eric"]:
    print("Your name is either John or Eric.")

x = 10
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x = [1,2,3]
y = [1,2,3]
print(x == y)
print(x is y)

print('\n')
print('Not operation tests')
print(not False)
print((not False) == (False))

True
False
True
Hi John, and you are also 23 years old.
Your name is either John or Doe.
Your name is either John or Eric.
x does not equal to two.
True
False


Not operation tests
True
False

In [ ]:
number = 20
second_number = 0
first_array = [1,8,6]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

## Loops

In [19]:
# for loop
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

print('====')

# Prints out 0 to 4
for x in range(5):
    print(x)
print('====')
# Prints out 3,4,5
for x in range(3, 6):
    print(x)
print('====')
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

2
3
5
7
====
0
1
2
3
4
====
3
4
5
====
3
5
7

In [23]:
# while loop
count = 0
while count < 5:
    print(count)
    count += 1

print('====')
# break and continue

# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    
    count += 1
    if count >= 5:
        break
print('====')
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

0
1
2
3
4
====
0
1
2
3
4
====
1
3
5
7
9

In [24]:
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

0
1
2
3
4
count value reached 5
1
2
3
4

## Functions

In [28]:
def my_func():
    print("Hello From my_func!")
my_func()

print("====")

def my_func_args(user,greeting):
    print("Hello %s, I wish you %s"%(user,greeting))
my_func_args("Manish","Good Luck")

print("====")

def add(num1,num2):
    return num1+num2
add(190,3789065)

Hello From my_func!
====
Hello Manish, I wish you Good Luck
====

3789255

In [9]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:
    if number == 237:
        break
    if number % 2 == 0:
        print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

## Classes and Objects

In [32]:
class my_class:
    variable = "blah"
    
    def function(self):
        print("This is a message inside the class.")

myobjectx = my_class()
print(myobjectx.variable)
print('====')

myobjectx = my_class()
myobjecty = my_class()

myobjecty.variable = "yackity"
print(myobjectx.variable)
print(myobjecty.variable)
print('====')
myobjectx = my_class()
myobjectx.function()

blah
====
blah
yackity
====
This is a message inside the class.

In [33]:
# __init__ fnction

class numhold():
    def __init__(self, number):
        self.number = number
    
    def return_num(self):
        return self.number

num = numhold(10)
print(num.return_num())

10

In [10]:
# define the Vehicle class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str
# your code goes here
car1 = Vehicle()
car1.name = "Fer"  
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00
car2 = Vehicle()
car2.name = "Jump"  
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

# test code
print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

## Dictionaries

In [38]:
phonebook = {}
phonebook["John"] = 875647987
phonebook["Jack"] = 645364536
phonebook["Jill"] = 908765345
print(phonebook)
print('====')
# another approach
phonebook = {
    "John" : 875647987,
    "Jack" : 645364536,
    "Jill" : 908765345
}
print(phonebook)
print('====')
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))
print('====')
#delete entry
del phonebook["John"]
print(phonebook)
print('====')

# delete approach 2
phonebook.pop("Jill")
print(phonebook)
print('====')

{'John': 875647987, 'Jack': 645364536, 'Jill': 908765345}
====
{'John': 875647987, 'Jack': 645364536, 'Jill': 908765345}
====
Phone number of John is 875647987
Phone number of Jack is 645364536
Phone number of Jill is 908765345
====
{'Jack': 645364536, 'Jill': 908765345}
====
{'Jack': 645364536}
====

In [11]:
phonebook = {  
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}  
# your code goes here
phonebook["Jake"] = 938273443
phonebook.pop("Jill")

# testing code
if "Jake" in phonebook:  
    print("Jake is listed in the phonebook.")
    
if "Jill" not in phonebook:      
    print("Jill is not listed in the phonebook.")

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

## Modules and Packages

In [ ]:
# game.py
# import the draw module
import draw

def play_game():
    pass

def main():
    result = play_game()
    draw.draw_game(result)

# this means that if this script is executed, then 
# main() will be executed
if __name__ == '__main__':
    main()

In [ ]:
# game.py
# import the draw module
from draw import draw_game

def main():
    result = play_game()
    draw_game(result)

In [ ]:
# game.py
# import the draw module
from draw import *

def main():
    result = play_game()
    draw_game(result)

In [ ]:
# game.py
# import the draw module
visual_mode = True
if visual_mode:
    # in visual mode, we draw using graphics
    import draw_visual as draw
else:
    # in textual mode, we print out text
    import draw_textual as draw

def main():
    result = play_game()
    # this can either be visual or textual depending on visual_mode
    draw.draw_game(result)

In [ ]:
# draw.py

def draw_game():
    # when clearing the screen we can use the main screen object initialized in this module
    clear_screen(main_screen)
    ...

def clear_screen(screen):
    ...

class Screen():
    ...

# initialize main_screen as a singleton
main_screen = Screen()

In [ ]:
import sys
sys.path.append("/foo")

In [14]:
# import the library
import urllib.request

# use it
response = urllib.request.urlopen("http://www.google.com")
print(response.status)  # prints the HTTP status code, e.g., 200

200

In [15]:
import urllib
dir(urllib)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'error',
 'parse',
 'request',
 'response']

In [16]:
import re

# Your code goes here
find_members = []
for member in dir(re):
    if "find" in member:
        find_members.append(member)
print(sorted(find_members))

['findall', 'finditer']

## Input and Output

In [48]:
astring = input()
print(astring)
print('====')
#type convert
num = int(input())
print(num)
print('====')
decimal = float(num)
print(decimal)

hello
====
10
====
10.0

In [51]:
a, b = map(int, input().split())
array = input().split()
sum = 0
for each in array:
    sum = sum + int(each)
print(a, b, sum)

2 4 12

In [52]:
# output formatting
a = 5
b = 0.63
c = "hello"
print("a is : %d, b is %0.4f,c is %s" % (a,b,c))

a is : 5, b is 0.6300,c is hello

In [13]:
# Taking the name input using input()
name = input("Enter your name: ")

# Taking the age input using input() and converting it to integer
age = int(input("Enter your age: "))

# Taking the country input using input()
country = input("Enter your country: ")

# Displaying the formatted sentence with name, age, and country
print("Hello, my name is {}, I am {} years old, and I am from {}.".format(name, age, country))

Hello, my name is manish, I am 18 years old, and I am from US.