# Python Basics

## Section 1

### Syntax

In [77]:
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1

# call function main 
main()

1
2
3
4
5
6
7
8
9

In [78]:
a = True
b = False
c = True
if (a == True) and (b == False) and \
   (c == True):
    print("Continuation of statements")

Continuation of statements

In [79]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

### Variables

In [80]:
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

# defining varibale
counter = 100

Hello, World!
Good Bye!

### Strings

In [81]:
message1 = 'This is a string in Python'
message2 = "This is also a string"
print(message1)
print(message2)
# string with single quote
message3 = "It's a beautiful day"
print(message3)
# string with double quote
message4 = 'He said, "Hello!"'
print(message4)
# escape character
message5 = 'It\'s a beautiful day'
print(message5)
# raw string
message6 = r'C:\newfolder\test'
print(message6)
# multi-line string
message7 = '''This is a multi-line string.
    It has multiple lines.'''
print(message7)
# string variables
name = 'Tony'
msg = f'HI, {name}'
print(msg)

# string concatenation
greet = 'Good ' 'Day'
print(greet)

# string concatenation using +
greet1 = 'Good ' + 'Day'
print(greet1)

# access characters in a string
str1 = 'Hello, World!'
print(str1[0])      
print(str1[7])      

# access characters using negative index
print(str1[-1])
print(str1[-5])

# length of string
print(len(str1))

# string slicing
print(str1[0:5])

str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

This is a string in Python
This is also a string
It's a beautiful day
He said, "Hello!"
It's a beautiful day
C:\newfolder\test
This is a multi-line string.
    It has multiple lines.
HI, Tony
Good Day
Good Day
H
W
!
o
13
Hello
Jython String

### Numbers

In [82]:
a = 8976
b = 876

sum = a + b
print("Sum is:", sum)
diff = a - b
print("Difference is:", diff)
prod = a * b
print("Product is:", prod)
quot = a / b
print("Quotient is:", quot)
mod = a % b
print("Remainder is:", mod)

x = 4
y = 3
exp = x ** y
print("Exponent is:", exp)
print('====')
# floats
x = 13.5
y = 2.5

sum = x + y
print("Sum is:", sum)
diff = x - y
print("Difference is:", diff)
prod = x * y
print("Product is:", prod)
quot = x / y
print("Quotient is:", quot)
print('====')

a = 1
b = 4.3
print(a + b)  
print('====')

count = 10_000_000_000_000
print(count)

Sum is: 9852
Difference is: 8100
Product is: 7862976
Quotient is: 10.246575342465754
Remainder is: 216
Exponent is: 64
====
Sum is: 16.0
Difference is: 11.0
Product is: 33.75
Quotient is: 5.4
====
5.3
====
10000000000000

### Boolean

In [83]:
x = 20
y = 10

result = x > y
print(result)

result = x < y
print(result)
print('====')
# string comparison
x = 'a'
y = 'b'

result = x > y
print(result)

result = x < y
print(result)
print('====')

result = bool('Hi')
print(result)
result = bool(100)
print(result)
result = bool(0)
print(result)

True
False
====
False
True
====
True
True
False

### constants

In [84]:
FILE_SIZE_LIMIT = 2000
print(FILE_SIZE_LIMIT)

2000

### Comments

In [85]:
# this is a comment
a = 100 # this is an inline comment
""" TThis is a one line docstring using triple quotes """

def hi():
    """ This is a multi-line docstring
        with two lines
    """

### Type conversion

In [86]:
value = input("Enter a number: ")
print(value)
print('====')
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = int(price) * int(tax) / 100
print(f'The tax amount is ${tax_amount}')
print('====')
print(type(tax_amount))

====

ValueError: invalid literal for int() with base 10: ''

## Section 2

### Arithmetic operators

In [ ]:
a = 10
b = 3
result = a + b

print(result)

a = 10
b = 3
result = a - b

print(result)

a = 10
b = 3
result = a * b

print(result)

a = 10
b = 3
result = a / b

print(result)

a = 10
b = 3
result = a // b

print(result)

a = 10
b = 3
result = a % b

print(result)

a = 10
b = 3
result = a ** b

print(result)

principal = 1000
interest_rate = 0.05
year = 2
amount = principal * (1 + interest_rate ) ** year

print(f"Total Amount: ${amount:,.2f}")

13
7
30
3.3333333333333335
3
1
1000
Total Amount: $1,102.50

### Assignment operators

In [ ]:
count = 0
count = count + 1

print(count)

count = 0
count += 1

print(count)

count = 0
count += 1  

print(count)

quantity = 5
quantity -= 2  

print(quantity)

a = 10
a *= 2  

print(a)  

amount = 25
amount /= 2 

print(amount)

amount = 10
amount //= 3  

print(amount)

amount = 10
amount %= 3

print(amount)

a = 2
a **= 3  
print(a)

1
1
1
3
20
12.5
3
1
8

### Comparision operators

In [ ]:
x = 10
y = 20

result = x < y
print(result)

result = x > y
print(result)

result = 'apple' < 'orange'
print(result)

result = 'banana' < 'apple'
print(result)

x = 10
y = 20

result = x < y
print(result)

result = y < x
print(result)

result = 20 <= 20
print(result)

result = 10 <= 20
print(result)

result = 30 <= 30
print(result)

x = 10
y = 20

result = x <= y
print(result)

result = y <= x
print(result)

result = 20 > 10
print(result)

result = 20 > 20
print(result)

result = 10 > 20
print(result)

result = 'apple' > 'orange'
print(result)

result = 'orange' > 'apple'
print(result)

result = 20 != 20
print(result)

result = 20 != 10
print(result)

True
False
True
False
True
False
True
True
True
True
False
True
False
False
False
True
False
True

### Logical operator

In [ ]:
price = 9.99
result = price > 9 and price < 10
print(result)

price = 9.99
result =  price > 10 and price < 20
print(result)

price = 9.99
result =  price > 10 or price < 20
print(result)

price = 9.99
result = not price > 10
print(result)

True
False
True
True

## Section 3

### if_else

In [ ]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
    print("Let's go and vote.")

You're eligible to vote.
Let's go and vote.

In [ ]:
# if and else
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

You're not eligible to vote.

In [ ]:
#if_slif_else
age = input('Enter your age:')

# convert the string to int
your_age = int(age)

# determine the ticket price
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $10 for the ticket

### Ternary operator

In [ ]:
age = 20
ticket_price = 20 if int(age) >= 18 else 5

print(f"The ticket price is ${ticket_price}")

The ticket price is $20

### for loop

In [ ]:
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for index in range(3):
    print(index + 1)

1
2
3

In [ ]:
for index in range(0, 6, 2):
    print(index)

0
2
4

In [ ]:
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

### While loop

In [ ]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

In [ ]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

Echo: hi
Echo: quit

### break

In [ ]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [ ]:
for x in range(5):
    for y in range(5):
        if y > 1:
            break

        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [ ]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --

### COntinue

In [ ]:
for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

In [ ]:
# print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

### Pass

In [ ]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    pass

## Section 4

### Python functions

In [ ]:
def greet():
    print('Hi')
greet()
print('====')
def greet(name):
    print(f"Hi {name}")
greet('Tony')
print('====')

def greet(name):
    print(f"Hi {name}")
    
first_name = 'Steve'
greet(first_name)
print('====')

def sum(a, b):
    return a + b


total = sum(10,20)
print(total)
print('====')

Hi
====
Hi Tony
====
Hi Steve
====
30
====

### Default parameters

In [ ]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John', 'Hello')
print(greeting)
print('====')

def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet()
print(greeting)
print('====')

def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello John
====
Hi there
====
Hello there

### keyword arguments

In [ ]:
def get_net_price(price, discount):
    return price * (1-discount)

net_price = get_net_price(100, 0.1)
print(f'{net_price: .2f}')

 90.00

In [ ]:
def get_net_price(price, discount):
    return price * (1-discount)

net_price = get_net_price(0.1, 100)
print(f'{net_price: .2f}')
print('====')

def get_net_price(price, discount):
    return price * (1-discount)

net_price = get_net_price(
    discount=0.1,
    price=100
)

print(f'{net_price: .2f}')
print('====')

def get_net_price(price, discount):
    return price * (1-discount)

net_price = get_net_price(
    100, 
    discount=0.1
)

print(f'{net_price: .2f}')
print('====')
def get_net_price(price, tax_rate=0.07, discount=0.05):
    discounted_price = price * (1 - discount)  
    net_price = discounted_price * (1 + tax_rate)  
    return net_price

net_price = get_net_price(100)
print(f'{net_price: .2f}')
print('====')

def get_net_price(price, tax_rate=0.07, discount=0.05):
    discounted_price = price * (1 - discount)  
    net_price = discounted_price * (1 + tax_rate)  
    return net_price

net_price = get_net_price(
    100, 
    discount=0.06
)
print(f'{net_price: .2f}')

-9.90
====
 90.00
====
 90.00
====
 101.65
====
 100.58

### Recursive functions

In [87]:
def count_down(start):
    
    print(start)

    # call the count_down if the next
    # number is greater than 0
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

In [88]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(100)
print(result)

5050

In [89]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

### Lambda expressions

In [90]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)

def first_last(first_name, last_name):
    return f"{first_name} {last_name}"


def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

full_name = get_full_name('John', 'Doe', first_last)
print(full_name) 

full_name = get_full_name('John', 'Doe', last_first)
print(full_name)

John Doe
Doe, John

In [91]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name}, {first_name}"
)
print(full_name)

John Doe
Doe, John

In [92]:
def times(n):
    return lambda x: x * n

double = times(2)

result = double(2)
print(result)

result = double(3)
print(result)

4
6

In [93]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

In [94]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

### Docstings

In [95]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [96]:
def add(a, b):
    "Return the sum of two arguments"
    return a + b

help(add)

Help on function add in module __main__:

add(a, b)
    Return the sum of two arguments

In [97]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

print(add.__doc__)

 Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments

## Section 5

### list

In [105]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers)
print('====')

colors = ['red', 'green', 'blue']
print(colors)
print('====')

numbers = [1, 3, 2, 7, 9, 4]
print(numbers[0])
print('====')

numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])
print('====')

numbers = [1, 3, 2, 7, 9, 4]
numbers[1] = numbers[1]*10

print(numbers)
print('====')

numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)
print('====')

numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)
print('====')

numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)
print('====')

numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[1, 3, 2, 7, 9, 4]
====
['red', 'green', 'blue']
====
1
====
4
9
====
[1, 30, 2, 7, 9, 4]
====
[1, 3, 1.0, 7, 9, 4]
====
[1, 3, 2, 7, 9, 4, 100]
====
[3, 2, 7, 9, 4]
====
[1, 3, 2, 7, 4, 9]

### tuple

In [106]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [107]:
rgb = ('red', 'green', 'blue')
rgb[0] = 'yellow'

TypeError: 'tuple' object does not support item assignment

In [108]:
numbers = (3)
print(type(numbers))

<class 'int'>

In [109]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

### Sort list

In [110]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [113]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)
print('====')

scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)
print('====')

scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']
====
[4, 5, 6, 7, 8, 9]
====
[9, 8, 7, 6, 5, 4]

In [115]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

def sort_key(company):
    return company[2]

companies.sort(key=sort_key, reverse=True)
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [116]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

In [117]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [118]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[:3]

print(sub_colors)

['red', 'orange', 'yellow']

In [123]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[-3:]

print(sub_colors)
print('====')

colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
reversed_colors = colors[::-1]

print(reversed_colors)
print('====')

colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[0:2] = ['black', 'white']

print(colors)
print('====')

colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")
print('====')

colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
del colors[2:5]

print(colors)

['blue', 'indigo', 'violet']
====
['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
====
['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']
====
The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements
====
['red', 'orange', 'indigo', 'violet']

In [125]:
colors = ['red', 'blue', 'green']

red, blue, green = colors

print(red)
print(green)
print(blue)

red
green
blue

In [126]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [129]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)
print('====')

cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)
print('====')

cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

New York
Beijing
Cairo
Mumbai
Mexico
====
(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')
====
0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [131]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)
print('====')

cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

3
====
Osaka doesn't exist in the list.

In [132]:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [135]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)
print('====')
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)
print('====')

colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
====
red
green
blue
====
red
green
blue

In [136]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [137]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

In [138]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [139]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

In [140]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

In [141]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [142]:
from functools import reduce

scores = [75, 65, 80, 95, 50]
total = reduce(lambda a, b: a + b, scores)

print(total)

365

In [143]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

In [144]:
numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda number: number**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [145]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [146]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = [m for m in mountains if m[1] > 8600]

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

## Section 6

In [147]:
empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [148]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [149]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person['ssn']

KeyError: 'ssn'

In [150]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [151]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

In [152]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

In [153]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

In [154]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [155]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

In [156]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [157]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [158]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [159]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

## Section 7

In [160]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [162]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Problem solving', 'Critical Thinking'}

In [163]:
characters = set('letter')
print(characters)

{'r', 'l', 't', 'e'}

In [164]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

In [165]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [166]:
skills = {'Problem solving', 'Software design', 'Python programming'}
if 'Java' in skills:
    skills.remove('Java')

In [167]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

print(skills)

{'Software design', 'Problem solving', 'Python programming'}

In [168]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Software design

In [170]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)\

skills.add('Django')

AttributeError: 'frozenset' object has no attribute 'add'

In [171]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Software design
Problem solving
Python programming

In [172]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Software design
2.Problem solving
3.Python programming

In [173]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'numpy', 'pandas', 'django'}

In [174]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'numpy', 'pandas', 'django'}

In [175]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'numpy', 'pandas', 'django'}

In [176]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'Python', 'Java', 'C#'}

In [177]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'Python', 'Java', 'C#'}

In [178]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

In [180]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)
print('====')

numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers & scores

print(numbers)

{'Java', 'C++'}
====

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [184]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)
print('====')

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)
print('====')

s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)
print('====')

scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{'Python'}
====
{'C#'}
====
{'C#'}
====
{8, 7}

In [185]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [186]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

In [187]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # True

True
False

In [188]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

## Section 8

In [191]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Enter the net sales for
Sales increase 9900.0%

In [192]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

5.0
Finishing up.

In [195]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2


def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'


def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print(error)
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

main()

Your body mass index is 0.2
This is considered underweight!

In [ ]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup:')
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    except KeyboardInterrupt:
        break
    else:
        print(fruit)
    finally:
        print('Press Ctrl-C to exit.')

10
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Error! a does not exist.
Press Ctrl-C to exit.
Error! cc does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.

## Section 9

In [1]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = 'Maria'

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

Maria not found!

In [3]:
people  = []

for person in people:
    print(person)
else:
    print("The list is empty.")

The list is empty.

In [4]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 20 apple(s)

In [5]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

[{'fruit': 'apple', 'qty': 20}, {'fruit': 'banana', 'qty': 30}, {'fruit': 'orange', 'qty': 10}, {'fruit': 'a', 'qty': 3}]

In [6]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

It should be bigger.
It should be smaller.
It should be smaller.
It should be bigger.
Bingo! 5 attempt(s)

## Section 10

In [10]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')
print('====')

x=10, y=20
x=20, y=10
====

In [11]:
r, g, *other = (192, 210, 100, 0.5)

In [12]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

In [13]:
def add(x, y):
    return x + y


add(10, 20)

30

In [14]:
def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [15]:
def add(*args):
    print(args)


add(1,2,3)

(1, 2, 3)

In [16]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [17]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

In [18]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)

fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

In [19]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)  # 20

20

In [20]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20

In [21]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [22]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123